* {
	margin:0;
}

/*styles and positions the home button*/
#homeButton {
	position:fixed;
	top:8px;
	left:10px;
	z-index:2;
	cursor:pointer;
}

/* styles the home button at  */
#homeButton:hover {
	color:grey;
	font-size:3em;
}

/*styles the svg's in the header*/
svg{
	position:fixed;
}

/*styles and positions the navigation icons*/
a {
	text-decoration:none;
	color:black;
}

#navSurface a {
    display:block;
    position:;
    width:32px;
	height:32px; 
    margin:50px;
}

#navSurface {
	position:fixed;
	top:-44px;
	left:-45px;
	width:100px;
	height:100px;
	z-index:0;
}

#navSurface i {
	display:block;
	width:100px;
}

#degZero { 
	position:fixed;
	transform:rotate(0deg) translate(5.75em) rotate(-0deg);
}
#degThirty { 
	position:fixed;
	transform:rotate(30deg) translate(5.75em) rotate(-30deg);
}
#degSixty {
	position:fixed;
	transform:rotate(60deg) translate(5.75em) rotate(-60deg);
}
#degNinty {
	position:fixed;
	transform:rotate(90deg) translate(6em) rotate(-90deg);
}

/*gives effects on the hover state of the navigation icons and links*/
.fa-file-image-o:hover {
	color:blue;
	animation-name:bob;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.fa-heart:hover {
	color:blue;
	animation-name:bob;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.fa-link:hover {
	color:blue;
	animation-name:bob;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.fa-comments:hover {
	color:blue;
	animation-name:bob;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

.fa-envelope-square:hover {
	color:blue;
	animation-name:bob;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

.fa-phone-square:hover {
	color:blue;
	animation-name:bob;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

.fa-linkedin-square:hover {
	color:blue;
	animation-name:bob;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

.fa-twitter-square:hover {
	color:blue;
	animation-name:bob;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

.fa-github-square:hover {
	color:blue;
	animation-name:bob;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

/* The animation sequence on the hover event for the nav icons and links */
@keyframes bob {
	0% {font-size:1em;}
	50% {
		font-size:2em;
		color:white;
	}
	100% {font-size:1em;}
}

/* This is the section for styling the pages and the contents within */
#wrapper {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}

#mask {
	height:500%;
	width:100%;
}

/* This styles the home page and its contents */
#homePage {
	height:100%;
	width:100%;
	overflow:hidden;
	background-color:#b3d1ff;
}

figure {
	margin-top:15vh;
	margin-bottom:auto;
}

img {
	display:block;
	border-radius:100px;
	margin-left:auto;
	margin-right:auto;
}

figcaption {
	text-align:center;
	font-family:Calibri;
}

/* This styles the aboutMe page and its contents */
#aboutMePage {
	height: 100%;
	width:100%;
	overflow:hidden;
	background-color:#99c2ff;
}

#aboutMe {
	margin-left:auto;
	margin-right:auto;
	margin-top:15vh;
	margin-bottom:auto;
	overflow:auto;
}

#aboutMe > p {
	margin-left:auto;
	margin-right:auto;
	width:65%;
	font-size:2.7vh;
	font-family:Calibri;
	text-indent:25px;
}

#aboutMe > #aboutMeHeader {
	font-weight:bold;
	text-align:center;
	padding-left:auto;
	padding-right:auto;
}

/* This styles the interests page and its contents */
#interestsPage {
	height: 100%;
	width:100%;
	overflow:hidden;
	background-color:#80b3ff;
}

#interestsPage > td, th {
	width:40vw;
}

li {
	text-align:center;
	list-style-type:none;
}

/* This styles the links page and its contents */
#linksPage {
	height:100%;
	width:100%;
	overflow:hidden;
	background-color:#66a3ff;
}

#linksTitle {
	text-align:center;
	font-family:Calibri;
	font-weight:bold;
}

#links {
	margin-top:30vh;
	margin-bottom:auto;
	text-align:center;
	font-size:35px;
}

/* This styles the comments page and its contents */
#commentsPage {
	height:100%;
	width:100%;
	overflow:hidden;
	background-color:#4d94ff;
}

.table {
	margin-left:auto;
	margin-right:auto;
	margin-top:25vh;
	margin-bottom:auto;
	font-family:Calibri;
}